<!DOCTYPE html>
<html lang="en">
  <head>   
    <title>Shallots Dashboard</title> 
    <meta name="description" content="shallots">
    <meta name="author" content="roosje">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/scrolling-nav.css" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="/static/d3.layout.cloud.js"></script>
    <script src="https://rawgit.com/d3/d3-plugins/a77fd4fc7f548949b45ff320ca914c556ccbd7ae/cie/cie.js"></script>
    <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>

    <style type="text/css">

      #pieChart {    
          position:absolute;
          top:0px;
          left:30px;
          width:330px;
          height: 330px; 
          z-index: 2;
      }
      #wordCloud {    
          position:absolute;
          top:50px;
          left:40px;
          width:0px;
          height: 340px;
          z-index:1;
          transition:           left 500ms ease; width 500ms ease;
            -moz-transition:    left 500ms ease; width 500ms ease;
            -ms-transition:     left 500ms ease; width 500ms ease;
            -o-transition:      left 500ms ease; width 500ms ease;
            -webkit-transition: left 500ms ease; width 500ms ease;
        }

      #graph {
          position:absolute;
          top:0px;
          left:350px;
          width: 800px;
          height: 400px;
      }

      #map {
          position:absolute;
          top:420px;
          width:100%;
          height: 500px;
      }

      .slice {
         font-size: 11pt;
         font-family: Verdana;
         fill: white; //svg specific - instead of color
         font-weight: bold;   
      } 

      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }

      .link {
        stroke: #BBB;
        stroke-opacity: .5;
      }

      .tooltip{ background-color:rgba(255,255,255,0.7);
          margin: 10px;
          height: 260px;
          width: 300px;
          padding-left: 10px; 
          padding-top: 10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
        }


    </style>

<script>
/*
################ FORMATS ##################
-------------------------------------------
*/

var formatAsPercentage = d3.format("%"),
    formatAsPercentage1Dec = d3.format(".1%"),
    formatAsInteger = d3.format(",")
    ;

//Adding names to cluster ids
var cl_names = {{ clnames | safe }};
var mappies = {{ mappies | safe }};

var color = d3.scale.linear()
          .domain([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
          .range(['#1f77b4','#aec7e8','#ff7f0e','#ffbb78','#2ca02c','#98df8a','#d62728','#ff9896','#9467bd','#c5b0d5','#8c564b','#c49c94','#e377c2','#f7b6d2','#7f7f7f','#c7c7c7','#bcbd22','#dbdb8d','#17becf','#9edae5'])
          .interpolate(d3.cie.interpolateLch);   

/*
############# PIE CHART ###################
-------------------------------------------
*/

function dsPieChart(error, dataset){
          //dataexample = {category: "name", measure:"rate"}

    var    width = 330,
           height = 330,
           outerRadius = Math.min(width, height) / 2,
           innerRadius = outerRadius * .5,   
           // for animation
           innerRadiusFinal = outerRadius * .5,
           innerRadiusFinal3 = outerRadius* .45,
           dataset = dataset;
        
    var vis = d3.select("#pieChart")
         .append("svg:svg")              
         .data([dataset])                   
         .attr("width", width)          
         .attr("height", height)
         .append("svg:g")                
         .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")");
                
   var arc = d3.svg.arc()              
            .outerRadius(outerRadius).innerRadius(innerRadius);
   
   // for animation
   var arcFinal = d3.svg.arc().innerRadius(innerRadiusFinal).outerRadius(outerRadius);
   var arcFinal3 = d3.svg.arc().innerRadius(innerRadiusFinal3).outerRadius(outerRadius);

   var pie = d3.layout.pie()           
        .value(function(d) { return d.measure; });    

   var arcs = vis.selectAll("g.slice")     
        .data(pie)          
        .enter()            
        .append("svg:g")   
        .attr("class", "slice")    
        .on("mouseover", mouseover)
        .on("mouseout", mouseout)
        .on("click", up);
                    
        arcs.append("svg:path")
               .attr("fill", function(d, i) { return color(d.data.category); } ) 
               .attr("d", arc)     
               .append("svg:title") //mouseover title showing the figures
               .text(function(d) { return cl_names[d.data.category] + ": " + formatAsPercentage(d.data.measure); });          

        d3.selectAll("g.slice").selectAll("path").transition()
                .duration(750)
                .delay(10)
                .attr("d", arcFinal )
                ;
    
      // Add a label to the larger arcs, translated to the arc centroid and rotated.
      arcs.filter(function(d) { return d.endAngle - d.startAngle > .2; })
          .append("svg:text")
          .attr("dy", ".15em")
          .attr("text-anchor", "middle")
          .attr("transform", function(d) { return "translate(" + arcFinal.centroid(d) + ")rotate(" + angle(d) + ")"; })
          .text(function(d) { return formatAsPercentage(d.data.measure); })
          ;
       
       // Computes the label angle of an arc, converting from radians to degrees.
        function angle(d) {
            var a = (d.startAngle + d.endAngle) * 90 / Math.PI - 90;
            return a > 90 ? a - 180 : a;
        }
              
        // Pie chart title          
        vis.append("svg:text")
          .attr("dy", ".20em")
          .attr("text-anchor", "middle")
          .text("Found topics")
          .attr("class","title")
          .append("tspan")
          .attr("x", 0)
          .attr("y", 30)
          .text("Click the slice")
          ;         

    function mouseover() {
      d3.select(this).select("path").transition()
          .duration(750)
                    .attr("d", arcFinal3)
                    ;
    }
    
    function mouseout() {
      d3.select(this).select("path").transition()
          .duration(750)
                    .attr("d", arcFinal)
                    ;
    }
    
    function up(d, i) {
                /* update word cloud when user selects piece of the pie chart */
                updateWordcloud(d.data.category);
             
    }
}

/*
############# MAP ###################
-------------------------------------------
*/

function dsMap(){

  var map = new Datamap({
        scope: 'world',
        element: document.getElementById('map'),
        projection: 'equirectangular',
        
        fills: {
          defaultFill: '#b2b2b2',
           0: '#008833',
          .1: '#339933',
          .2: '#66AA33',
          .3: '#99BB33',
          .4: '#CCCC33',
          .5: '#DDCC33',
          .6: '#FFBB33',
          .7: '#FF9933',
          .8: '#FF6633',
          .9: '#FF3333',
           1: '#FF0033'
        },
        
        projectionConfig: {
          rotation:[91,-30]
        },

        geographyConfig: {
          hideAntarctica: true,
          popupTemplate: function(geography, data) { //this function should just return a string
          return '<div class="hoverinfo"><strong>' + geography.properties.name + '</strong><div id="minichart"></div></div>';
          },
          popupOnHover: true,
          highlightOnHover: true,
          highlightFillColor: '#000000',
          highlightBorderColor: '#000000'

        },
      
        data: {
          {% for cntr, score in datamap %}
          {{ cntr }}: {fillKey: {{ score }} },
          {% endfor %}    
        }
      })
      
      //map.graticule();
    }



/*
############# WORD CLOUD ##################
-------------------------------------------
*/


function dsCloud(error, data){

  var fill = d3.scale.category20c();

  d3.layout.cloud().size([700, 340])
      .words(data.map(function(d) {
        return {text: d[0], size: Math.sqrt(d[1])*2+15};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#wordCloud").append("svg")
        .attr("id", "cloudsvg")
        .attr("width", 700)
        .attr("height", 340)
        .append("g")
        .attr("transform", "translate(360,190)")
        .selectAll("text")
        .data(words)
        .enter().append("text")
        .style("font-size", function(d) { return (d.size) + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
}}


/*
############# GRAPH ##################
-------------------------------------------
*/

function dsGraph(error, nodes, links) {
    var w = 800,
        h = 400;

    var force = d3.layout.force()
        //.gravity(0.06)
        .charge(-90)
        .linkDistance(120)
        //.linkStrength(0.01)
        .size([w, h]);

    var svg = d3.select("#graph").append("svg")
        .attr("width", w)
        .attr("height", h);

    force.nodes(nodes).links(links).start()

    var link = svg.selectAll(".link")
      .data(links)
      .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

    var node = svg.selectAll(".node")
      .data(nodes)
      .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) {return Math.sqrt(d.size)*2 || 4.5; })
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

    node.append("title")
      .text(function(d) { return d.name; });

    force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    });

   
}

    </script>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Shallots</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <svg width="100%", height="400">
                    <rect width="100%", height="100%", style="fill:white;stroke:black;stroke-width:5;opacity:0.5" />
                    <div id="pieChart"><h3>Deep web topic group size</h3></div>
                    <div id="graph"><h3 id="header_gr_wc">Graph of url-references between topics</h3></div>
                    <div id="wordCloud"></div>
                    <div id="map"><h3>Legal/illegal related mention of countries</h3></div>
                  </svg>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Shallots</h1>
                    <p>
                      "Shining the light on the deep web, analysis of what is beneath the surface of the internet"
                    </p>
                    <p>
                      <i>Summary</i>
                      The deep web has a lot of secrets. My goal is to give some insight in what is going on there. Through visauls I show the main topics that are discussed there and give insight in their meaning. I divided the clusters into 2 groups (legal/illegal) and analysed if they behave like 2 separate islands or are actually connected. And lastly made a map of the countries talked about in relation to the legal/illegal clusters. 
                    </p>
                    <p>
                      <i>Description</i>
                      Tor helps anonymous online communication. It is meant to provide safety for vulnerable internet users such as political activists. The downside, however, is that it facilitates criminals that use servers that can only receive connections through Tor, to make it hard to get identified. Those servers are called hidden services and can be accessed through an .onion address. 
                      Not much research has been done on what is going on in this "deep web". There was some content clustering, which showed that both legal and illegal content is available on websites. It is not clear how well connected those 2 groups are. 
                      </p>
                      <p>
                      <i>Motivation</i>
                      In 2011 I first encountered the illegal side of the deep web. Since then it kept surprising me that tools and analysts that focus on the internet, normally don't take the deep web into account. They actually should IMHO because this is especially the place where things can come to the surface since users feel save by the anonymizing function of Tor. 
                      It is an ideal way to combine my interest in the deep web with my preference for NLP, visualizations and social network analysis (SNA) into one project. And it can grow along the way, if there is time, looking further into insights I get during the analysis.<br>
                      <a href="https://github.com/roosje/shallots">The repo</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

     <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                    <p>
                      <a href="https://github.com/roosje/">My github</a><br>
                      <a href="https://www.linkedin.com/in/htroos">LinkedIn</a><br>
                      <a href="https://twitter.com/r00sj3">Twitter</a><br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
    queue()
      .defer(d3.json, '/static/data/piedata.json')
      .await(dsPieChart);
    dsMap();
    queue()
      .defer(d3.json, '/static/data/nodes2.json')
      .defer(d3.json, '/static/data/links2.json')
      .await(dsGraph);
    queue()
      .defer(d3.json, '/static/data/startwordcloud.json')
      .await(dsCloud);

    document.getElementById('wordCloud').addEventListener('click', function()
    {
        d3.select("#cloudsvg").remove();
        ( this.style.left == '40px' || this.style.left == '' )
        ? this.style.left = '400px': this.style.left = '40px'; 
        this.style.width = '0px'; 
        document.getElementById('header_gr_wc').innerHTML = "Graph of url-references between topics"
    }, false);

    /* ** UPDATE WORDCLOUD ** */
     
    /* updates on request */
    function updateWordcloud(group) {
      //throw everything away
      //build new wordcloud with new data
      d3.select("#cloudsvg").remove();
      d3.json('/static/data/worddata'+group+'.json', dsCloud);
      var block = document.getElementById('wordCloud');
      block.style.left = '400px';
      block.style.width = '700px';
      block.style.backgroundColor = 'white';
      document.getElementById('header_gr_wc').innerHTML = "Wordcloud of selected topic: '" + cl_names[group] + "'";
    }

    </script>
    
     <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>
  </body>
</html>