<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Shallots network</title>

     <style type="text/css">
    html, body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 600px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>

  <script type="text/javascript" src="static/vis.js"></script>
  <link href="static/vis.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    var nodes = null;
    var edges = null;
    var network = null;

    function draw() {
      // create clusters
      // value corresponds with the size of cluster
	  edges = [
      {% for from, to in rels %}
      {from: '{{ from }}', to: '{{ to }}', value: 1},
      {% endfor %}
      ];
      nodes = [
      {% for dom in nodes %}
      {id: {{ dom[0] }}, value: 1, label:{{ dom[0] }}},
      {% endfor %}
      ];

      // Instantiate our network object.
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot'
        },
        edges: {
          color: '#97C2FC'
        }
      };
      network = new vis.Network(container, data, options);
    }
</script>


</head>
<body onload="draw()">
	<div id="mynetwork"></div>
</body>
</html>